In [ ]:
%LOAD sqlite3 db=chinook.db timeout=2 shared_cache=true

In [ ]:
.databases

In [ ]:
.tables

In [ ]:
.schema %es%

In [ ]:
.indexes

In [ ]:
SELECT name FROM sqlite_master
WHERE type IN ('table','view') AND name NOT LIKE 'sqlite_%' AND name LIKE '%gen%'
ORDER BY 1

In [ ]:
SELECT * FROM genres, media_types limit 10

In [ ]:
%XVEGA_PLOT X_FIELD GenreId Y_FIELD MediaTypeId MARK area COLOR red WIDTH 300 HEIGHT 300 <> SELECT * FROM genres, media_types

In [ ]:
select count(*) from genres;